<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <contextName>test</contextName>

    <property name="layout" value="[%d{ISO8601}] [%thread] %-5level %logger{36} - %msg%n" />
    <property name="logdir" value="/log" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${layout}</pattern>
        </encoder>
    </appender>

    <logger name="com.zandero.rest" level="TRACE" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>